## Ejemplo 6: Automatizando peticiones

### 1. Objetivos:
    - Usar todo lo que aprendimos para automatizar peticiones al API
    - Guardar nuestros resultados en un archivo tipo .csv
 
---
    
### 2. Desarrollo:

Veamos cómo usar todo lo que aprendimos para automatizar el proceso de realizar múltiples peticiones a la API, reunirlas en un `DataFrame` y guardarlo en un .csv:

In [1]:
import pandas as pd
import requests
import time

In [2]:
url = 'https://api.nasa.gov/neo/rest/v1/neo/browse/'
parametros = {
    'api_key': 'EtSDBzChRyQL87tRvf6vAemUDFCJujscffspj9i5'}

Obtener 10 páginas de datos del API.

In [8]:
dict_datos = {}
for i in range(10):
    r = requests.get(url, params=parametros, timeout=5)
    if r.status_code == 200:
        # obtención de datos de los objetos de la página i
        datos = r.json()
        objetos = datos["near_earth_objects"]
        dict_datos[i] = objetos
        
        # datos para ir la siguiente página
        sig_url = datos["links"]["next"]
        url = sig_url

Normalizar y crea los dataframes

In [9]:
# tu código aquí
for k in dict_datos:
    normalizado = pd.json_normalize(dict_datos[k]) # diccionario
    # print(normalizado)
    df = pd.DataFrame(normalizado)  # construimos dataframe
    dict_datos[k] = df  # dataframe en k -> diccionario en k
    
dict_datos[0]

,id,neo_reference_id,name,designation,nasa_jpl_url,absolute_magnitude_h,is_potentially_hazardous_asteroid,close_approach_data,is_sentry_object,links.self,...,orbital_data.aphelion_distance,orbital_data.perihelion_time,orbital_data.mean_anomaly,orbital_data.mean_motion,orbital_data.equinox,orbital_data.orbit_class.orbit_class_type,orbital_data.orbit_class.orbit_class_description,orbital_data.orbit_class.orbit_class_range,orbital_data.orbit_class,sentry_data
0,3277639,3277639,(2005 JN3),2005 JN3,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3277639,20.9,False,"[{'close_approach_date': '2005-07-15', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3277639?ap...,...,3.287436023323877,2453544.837981408824,345.1519191168741,.30717213359711,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU,NaN,NaN
1,3277897,3277897,(2005 JA45),2005 JA45,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3277897,24.6,False,"[{'close_approach_date': '2005-05-10', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3277897?ap...,...,4.49218026728147,2453508.410789192264,358.3029866087108,.2145188488840951,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU,NaN,NaN
2,3277999,3277999,(2005 JB46),2005 JB46,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3277999,24.4,False,"[{'close_approach_date': '2005-05-09', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3277999?ap...,...,1.627498604165589,2453498.709242364280,1.144280271874529,.6389922617386771,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU,NaN,NaN
3,3278321,3278321,(2005 JF108),2005 JF108,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3278321,18.1,False,[],False,http://www.neowsapp.com/rest/v1/neo/3278321?ap...,...,3.672385661125531,2453406.092022380053,33.4116715270403,.3395219811962466,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN,NaN
4,3278396,3278396,(2005 JT108),2005 JT108,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3278396,19.5,False,"[{'close_approach_date': '2005-04-21', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3278396?ap...,...,2.713438533005136,2453434.264249740202,32.2776689266722,.4347995246725756,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN,NaN
5,3279221,3279221,(2005 KJ10),2005 KJ10,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3279221,21.3,True,"[{'close_approach_date': '2005-06-04', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3279221?ap...,...,3.04781073599563,2453568.458785653934,342.9668058451431,.3706188906538008,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN,NaN
6,3279376,3279376,(2005 LO3),2005 LO3,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3279376,23.5,False,"[{'close_approach_date': '2005-06-16', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3279376?ap...,...,3.311590160429334,2453536.268719938780,357.7298521037174,.2922164673423807,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU,NaN,NaN
7,3279676,3279676,(2005 LV30),2005 LV30,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3279676,19.1,False,"[{'close_approach_date': '2005-06-02', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3279676?ap...,...,3.984490639781653,2453477.903455163448,16.9799067922212,.2802124582848967,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN,NaN
8,3279827,3279827,(2005 LQ40),2005 LQ40,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3279827,23.3,False,"[{'close_approach_date': '2005-06-29', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3279827?ap...,...,2.635412659417277,2453588.996147942158,339.7106939382493,.4099168704090076,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN,NaN
9,3279958,3279958,(2005 MR1),2005 MR1,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3279958,23.3,False,"[{'close_approach_date': '1965-09-03', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3279958?ap...,...,3.668843642035504,2458859.346451278417,38.32413298369057,.2715066913357069,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU,NaN,NaN
10,3283217,3283217,(2005 ME5),2005 ME5,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3283217,25.5,False,"[{'close_approach_date': '2005-07-05', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3283217?ap...,...,3.007196152372066,2453557.663271539700,357.2201981933367,.3405254612864931,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU,NaN,NaN
11,3283245,3283245,(2005 MW9),2005 MW9,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3283245,19.2,False,[],False,http://www.neowsapp.com/rest/v1/neo/3283245?ap...,...,6.742887752729612,2458414.683932238087,85.51195623482765,.145970656901786,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN,NaN
12,3283445,3283445,(2005 NG),2005 NG,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3283445,24.2,False,"[{'close_approach_date': '2005-06-29', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3283445?ap...,...,2.684034027803205,2453509.690787303998,19.38618184815825,.4141531278054167,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN,NaN
13,3283479,3283479,(2005 NK1),NaN,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3283479,17.2,False,"[{'close_approach_date': '2035-05-25', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3283479?ap...,...,2.770000043461184,2457742.196177406638,291.2573666943565,.4851410571815699,J2000,NaN,NaN,NaN,NaN,NaN
14,3283520,3283520,(2005 NQ1),2005 NQ1,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3283520,24.0,False,"[{'close_approach_date': '2005-06-30', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3283520?ap...,...,3.08258968489371,2453550.923446119320,1.812913304133164,.3250956312668316,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU,NaN,NaN
15,3283897,3283897,(2005 NX55),2005 NX55,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3283897,22.1,False,"[{'close_approach_date': '2005-07-17', 'close_...",True,http://www.neowsapp.com/rest/v1/neo/3283897?ap...,...,2.613263365120792,2453624.655409881117,330.7204859267721,.4787722644676204,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN,http://www.neowsapp.com/rest/v1/neo/sentry/328...
16,3283898,3283898,(2005 NB56),2005 NB56,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3283898,22.9,False,"[{'close_approach_date': '2003-02-28', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3283898?ap...,...,2.417073789783207,2453511.782620926074,25.1751843147559,.4686599523053748,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN,NaN
17,3283947,3283947,(2005 NG56),2005 NG56,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3283947,22.4,False,"[{'close_approach_date': '2005-07-13', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3283947?ap...,...,4.632005888429456,2458660.224184095208,71.70927911959603,.2107386883458686,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN,NaN
18,3285183,3285183,(2005 OR2),2005 OR2,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3285183,23.5,False,"[{'close_approach_date': '2005-07-24', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3285183?ap...,...,3.179259254107484,2453539.832921285648,14.37132434639033,.3368246615289417,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN,NaN
19,3285184,3285184,(2005 OT2),2005 OT2,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3285184,21.9,False,"[{'close_approach_date': '2005-07-27', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3285184?ap...,...,3.036468463701309,2453550.816586331218,11.29684879385602,.3353831326284489,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU,NaN,NaN

Crea una lista con sólo los dataframes

In [11]:
lista_datos = []
for k in dict_datos:
    lista_datos.append(dict_datos[k])
lista_datos[0]

,id,neo_reference_id,name,designation,nasa_jpl_url,absolute_magnitude_h,is_potentially_hazardous_asteroid,close_approach_data,is_sentry_object,links.self,...,orbital_data.aphelion_distance,orbital_data.perihelion_time,orbital_data.mean_anomaly,orbital_data.mean_motion,orbital_data.equinox,orbital_data.orbit_class.orbit_class_type,orbital_data.orbit_class.orbit_class_description,orbital_data.orbit_class.orbit_class_range,orbital_data.orbit_class,sentry_data
0,3277639,3277639,(2005 JN3),2005 JN3,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3277639,20.9,False,"[{'close_approach_date': '2005-07-15', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3277639?ap...,...,3.287436023323877,2453544.837981408824,345.1519191168741,.30717213359711,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU,NaN,NaN
1,3277897,3277897,(2005 JA45),2005 JA45,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3277897,24.6,False,"[{'close_approach_date': '2005-05-10', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3277897?ap...,...,4.49218026728147,2453508.410789192264,358.3029866087108,.2145188488840951,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU,NaN,NaN
2,3277999,3277999,(2005 JB46),2005 JB46,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3277999,24.4,False,"[{'close_approach_date': '2005-05-09', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3277999?ap...,...,1.627498604165589,2453498.709242364280,1.144280271874529,.6389922617386771,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU,NaN,NaN
3,3278321,3278321,(2005 JF108),2005 JF108,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3278321,18.1,False,[],False,http://www.neowsapp.com/rest/v1/neo/3278321?ap...,...,3.672385661125531,2453406.092022380053,33.4116715270403,.3395219811962466,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN,NaN
4,3278396,3278396,(2005 JT108),2005 JT108,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3278396,19.5,False,"[{'close_approach_date': '2005-04-21', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3278396?ap...,...,2.713438533005136,2453434.264249740202,32.2776689266722,.4347995246725756,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN,NaN
5,3279221,3279221,(2005 KJ10),2005 KJ10,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3279221,21.3,True,"[{'close_approach_date': '2005-06-04', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3279221?ap...,...,3.04781073599563,2453568.458785653934,342.9668058451431,.3706188906538008,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN,NaN
6,3279376,3279376,(2005 LO3),2005 LO3,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3279376,23.5,False,"[{'close_approach_date': '2005-06-16', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3279376?ap...,...,3.311590160429334,2453536.268719938780,357.7298521037174,.2922164673423807,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU,NaN,NaN
7,3279676,3279676,(2005 LV30),2005 LV30,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3279676,19.1,False,"[{'close_approach_date': '2005-06-02', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3279676?ap...,...,3.984490639781653,2453477.903455163448,16.9799067922212,.2802124582848967,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN,NaN
8,3279827,3279827,(2005 LQ40),2005 LQ40,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3279827,23.3,False,"[{'close_approach_date': '2005-06-29', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3279827?ap...,...,2.635412659417277,2453588.996147942158,339.7106939382493,.4099168704090076,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN,NaN
9,3279958,3279958,(2005 MR1),2005 MR1,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3279958,23.3,False,"[{'close_approach_date': '1965-09-03', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3279958?ap...,...,3.668843642035504,2458859.346451278417,38.32413298369057,.2715066913357069,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU,NaN,NaN
10,3283217,3283217,(2005 ME5),2005 ME5,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3283217,25.5,False,"[{'close_approach_date': '2005-07-05', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3283217?ap...,...,3.007196152372066,2453557.663271539700,357.2201981933367,.3405254612864931,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU,NaN,NaN
11,3283245,3283245,(2005 MW9),2005 MW9,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3283245,19.2,False,[],False,http://www.neowsapp.com/rest/v1/neo/3283245?ap...,...,6.742887752729612,2458414.683932238087,85.51195623482765,.145970656901786,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN,NaN
12,3283445,3283445,(2005 NG),2005 NG,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3283445,24.2,False,"[{'close_approach_date': '2005-06-29', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3283445?ap...,...,2.684034027803205,2453509.690787303998,19.38618184815825,.4141531278054167,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN,NaN
13,3283479,3283479,(2005 NK1),NaN,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3283479,17.2,False,"[{'close_approach_date': '2035-05-25', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3283479?ap...,...,2.770000043461184,2457742.196177406638,291.2573666943565,.4851410571815699,J2000,NaN,NaN,NaN,NaN,NaN
14,3283520,3283520,(2005 NQ1),2005 NQ1,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3283520,24.0,False,"[{'close_approach_date': '2005-06-30', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3283520?ap...,...,3.08258968489371,2453550.923446119320,1.812913304133164,.3250956312668316,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU,NaN,NaN
15,3283897,3283897,(2005 NX55),2005 NX55,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3283897,22.1,False,"[{'close_approach_date': '2005-07-17', 'close_...",True,http://www.neowsapp.com/rest/v1/neo/3283897?ap...,...,2.613263365120792,2453624.655409881117,330.7204859267721,.4787722644676204,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN,http://www.neowsapp.com/rest/v1/neo/sentry/328...
16,3283898,3283898,(2005 NB56),2005 NB56,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3283898,22.9,False,"[{'close_approach_date': '2003-02-28', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3283898?ap...,...,2.417073789783207,2453511.782620926074,25.1751843147559,.4686599523053748,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN,NaN
17,3283947,3283947,(2005 NG56),2005 NG56,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3283947,22.4,False,"[{'close_approach_date': '2005-07-13', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3283947?ap...,...,4.632005888429456,2458660.224184095208,71.70927911959603,.2107386883458686,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN,NaN
18,3285183,3285183,(2005 OR2),2005 OR2,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3285183,23.5,False,"[{'close_approach_date': '2005-07-24', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3285183?ap...,...,3.179259254107484,2453539.832921285648,14.37132434639033,.3368246615289417,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN,NaN
19,3285184,3285184,(2005 OT2),2005 OT2,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3285184,21.9,False,"[{'close_approach_date': '2005-07-27', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3285184?ap...,...,3.036468463701309,2453550.816586331218,11.29684879385602,.3353831326284489,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU,NaN,NaN

Concatena los dataframes

In [14]:
df = pd.concat(lista_datos).reset_index(drop=True)
df

,id,neo_reference_id,name,designation,nasa_jpl_url,absolute_magnitude_h,is_potentially_hazardous_asteroid,close_approach_data,is_sentry_object,links.self,...,orbital_data.aphelion_distance,orbital_data.perihelion_time,orbital_data.mean_anomaly,orbital_data.mean_motion,orbital_data.equinox,orbital_data.orbit_class.orbit_class_type,orbital_data.orbit_class.orbit_class_description,orbital_data.orbit_class.orbit_class_range,orbital_data.orbit_class,sentry_data
0,3277639,3277639,(2005 JN3),2005 JN3,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3277639,20.9,False,"[{'close_approach_date': '2005-07-15', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3277639?ap...,...,3.287436023323877,2453544.837981408824,345.1519191168741,.30717213359711,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU,NaN,NaN
1,3277897,3277897,(2005 JA45),2005 JA45,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3277897,24.6,False,"[{'close_approach_date': '2005-05-10', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3277897?ap...,...,4.49218026728147,2453508.410789192264,358.3029866087108,.2145188488840951,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU,NaN,NaN
2,3277999,3277999,(2005 JB46),2005 JB46,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3277999,24.4,False,"[{'close_approach_date': '2005-05-09', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3277999?ap...,...,1.627498604165589,2453498.709242364280,1.144280271874529,.6389922617386771,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU,NaN,NaN
3,3278321,3278321,(2005 JF108),2005 JF108,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3278321,18.1,False,[],False,http://www.neowsapp.com/rest/v1/neo/3278321?ap...,...,3.672385661125531,2453406.092022380053,33.4116715270403,.3395219811962466,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN,NaN
4,3278396,3278396,(2005 JT108),2005 JT108,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3278396,19.5,False,"[{'close_approach_date': '2005-04-21', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3278396?ap...,...,2.713438533005136,2453434.264249740202,32.2776689266722,.4347995246725756,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,3370281,3370281,(2007 EN),2007 EN,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3370281,21.2,False,"[{'close_approach_date': '2007-07-16', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3370281?ap...,...,4.144756987968149,2454255.660645896155,340.2808299490478,.2343039295977308,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU,NaN,NaN
196,3370285,3370285,(2007 EU),2007 EU,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3370285,24.6,False,"[{'close_approach_date': '2007-03-03', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3370285?ap...,...,1.886792782558448,2454142.261944845717,16.60195642381138,.5678201349647363,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN,NaN
197,3370499,3370499,(2007 EH26),2007 EH26,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3370499,24.2,False,"[{'close_approach_date': '2007-03-18', 'close_...",True,http://www.neowsapp.com/rest/v1/neo/3370499?ap...,...,3.198575533739255,2454225.426195349354,339.9122606252471,.3725042948907683,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...,NaN,http://www.neowsapp.com/rest/v1/neo/sentry/337...
198,3370502,3370502,(2007 EL26),2007 EL26,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3370502,23.2,False,"[{'close_approach_date': '2007-03-06', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3370502?ap...,...,1.420095011550852,2454228.679706351802,320.7417896991462,.6865759341140192,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU,NaN,NaN
199,3370503,3370503,(2007 EM26),2007 EM26,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3370503,22.7,False,"[{'close_approach_date': '2007-03-09', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3370503?ap...,...,1.787752582222555,2454153.141552395746,11.29655808402606,.5548830786914023,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU,NaN,NaN

Guarda tu dataframe en un archivo csv

In [15]:
# tu código aquí
df.to_csv("objetos_tierra_nasa.csv")

¡Listo! Ya tenemos nuestro dataset para procesar en la siguiente sesión. En este último reto vas a implementar tú mismo este proceso, con la única diferencia de que vas a pedir de la página 10 a la 110. ¡Mucha suerte!