## Reto 3: Map

### 1. Objetivos:
    - Practicar el uso del método `map` para mapear un dato a otro dato que le corresponde.
    
---
    
### 2. Desarrollo:

#### a) Booleanos a numéricos

Vamos a trabajar sobre el dataset que guardaste en el Reto anterior. Esta vez tu Reto es muy sencillo:

1. La columna `is_potentially_hazardous_asteroid` tiene valores `booleanos`. Crea un diccionario de mapeo donde hagas un correspondencia de cada valor `booleano` con su equivalente numérico y transforma esa columna.
2. Usa una función para mapear la columna `relative_velocity.kilometers_per_hour` a una nueva columna llamada `relative_velocity.kilometers_per_minute`, que contenga la velocidad del objeto en kilómetros por minuto.
3. Guarda tu `DataFrame` resultante en la variable `df_reto_3`.
4. Guarda tu resultado en un archivo .csv.

In [2]:
import pandas as pd

In [3]:
df_reto_3 = pd.read_csv("../Ejemplo-02/objetos_cercanos_2.csv", index_col=0)
df_reto_3.head(3)

,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description,id,name
0,2154652-154652 (2004 EP20),False,483.676488,1081.533507,1995-01-07,1995-01-07 08:33:00,Earth,16.142864,58114.308667,Near Earth asteroid orbits similar to that of ...,2154652,154652 (2004 EP20)
1,3153509-(2003 HM),True,96.506147,215.794305,1995-01-07,1995-01-07 15:09:00,Earth,12.351044,44463.757734,Near Earth asteroid orbits which cross the Ear...,3153509,(2003 HM)
2,3837644-(2019 AY3),False,46.190746,103.285648,1995-01-07,1995-01-07 21:25:00,Earth,22.478615,80923.015021,Near Earth asteroid orbits similar to that of ...,3837644,(2019 AY3)

In [4]:
df_reto_3["is_potentially_hazardous_asteroid"]

0      False
1       True
2      False
3      False
4      False
       ...
296    False
297    False
298    False
299    False
300    False
Name: is_potentially_hazardous_asteroid, Length: 301, dtype: bool

In [7]:
bol_to_int = {
    False: 0,
    True: 1
}
df_reto_3["is_potentially_hazardous_asteroid"] = \
    df_reto_3["is_potentially_hazardous_asteroid"].map(bol_to_int)
df_reto_3["is_potentially_hazardous_asteroid"]

0      0
1      1
2      0
3      0
4      0
      ..
296    0
297    0
298    0
299    0
300    0
Name: is_potentially_hazardous_asteroid, Length: 301, dtype: int64

In [8]:
df_reto_3["relative_velocity.kilometers_per_hour"]

0       58114.308667
1       44463.757734
2       80923.015021
3       17995.288355
4       26874.321682
           ...
296     55709.139812
297     58249.410194
298     54382.104639
299     73235.423517
300    107036.733058
Name: relative_velocity.kilometers_per_hour, Length: 301, dtype: float64

In [11]:
def kmhr_a_hmmin(valor):
    """ Transforma de km/h a km/min """
    return valor / 60

df_reto_3["relative_velocity.kilometers_per_minute"] = \
    df_reto_3["relative_velocity.kilometers_per_hour"].map(kmhr_a_hmmin)
df_reto_3["relative_velocity.kilometers_per_minute"]

0       968.571811
1       741.062629
2      1348.716917
3       299.921473
4       447.905361
          ...
296     928.485664
297     970.823503
298     906.368411
299    1220.590392
300    1783.945551
Name: relative_velocity.kilometers_per_minute, Length: 301, dtype: float64

In [12]:
df_reto_3.to_csv("objetos_cercanos_3.csv")