## Ejemplo 2: Series

### 1. Objetivos:
    - Entender qué son las `Series`
    - Aprender a crear `Series` de pandas
    - Aprender los métodos básicos de indexación de las `Series`
 
---
    
### 2. Desarrollo:

Lo primero es realizar la importación del módulo Pandas:

In [3]:
import pandas as pd

Las `Series` son secuencias ordenadas de unidimensionales que pueden contener diferentes tipos de valores. En esto se parecen a las `listas`. De hecho podemos crear `Series` usando `listas`.

In [4]:
serie_1 = pd.Series([5,2,7,9,12])  # Crea una serie de número enteros
serie_1

0     5
1     2
2     7
3     9
4    12
dtype: int64

Una gran diferencia que tienen con las `listas` es que cada elemento en una `Serie` tiene un índice asociado que no necesariamente es una secuencia de enteros como en las `listas`. En este aspecto, nuestras `Series` se parecen a los `diccionarios`:

La columna de la izquierda es nuestro índice, la columna de la derecha son los datos almacenados en la `Serie`. El texto en la parte inferior es el tipo de dato que tenemos en nuestra `Serie`.

Los tipos de datos más comunes que podemos encontrar son: 

1. `int64`: Equivalente a `int`
2. `float64`: Equivalente a `float`
3. `bool`: Equivalente a `bool` (duh)
4. `object`: Equivalente a `str`, o indica que hay una mezcla de tipos de datos numéricos y no-numéricos en la `Serie`

> **Importante**: Tener `Series` que contengan diversos tipos de datos es una **muy mala** práctica. Lo recomendable es siempre tener homogeneidad de tipos de dato en cada `Serie` que tengamos. De todas maneras, se encontrarán por ahí algunos conjuntos de datos que contienen `Series` con tipos de datos diversos. Es por eso que cuando nos topemos con un tipo de dato `obj` tenemos que ser cuidadosos y no asumir automáticamente que el tipo de dato incluido son `strings`.

Podemos crear `Series` con un índice customizado, por ejemplo crea una lista indicando las ventas totales para los años 2007, 2008, 2009 y 2010.

In [6]:
serie_2 = pd.Series([1_000_000, 1_200_000, 1250000, 1300000],
    index=[2007, 2008, 2009, 2010])
serie_2

2007    1000000
2008    1200000
2009    1250000
2010    1300000
dtype: int64

In [11]:
serie_2.loc[2010]

1300000

Ahora crea una serie para la ventas totales para cada cuatrimestre del año 2010:

In [17]:
serie_3 = pd.Series([1_000_000, 1_200_000, 1250000, 1300000],
    index=["Q1-2010", "Q2-2010", "Q3-2010", "Q4-2010"])
serie_3

Q1-2010    1000000
Q2-2010    1200000
Q3-2010    1250000
Q4-2010    1300000
dtype: int64

In [14]:
serie_3.loc["Q1-2010"]

1000000

Debido a su similitud, podemos incluso crear `Series` usando `diccionarios`:

In [16]:
datos = {
    "Q1-2010": 1000000,
    "Q2-2010": 1200000,
    "Q3-2010": 1250000,
    "Q4-2010": 1300000
}

serie_4 = pd.Series(datos)
serie_4

Q1-2010    1000000
Q2-2010    1200000
Q3-2010    1250000
Q4-2010    1300000
dtype: int64

Al igual que en las listas, podemos acceder a nuestros datos usando el `operador de indexación`. La diferencia es que en una `Serie` tenemos que incluir el operador `loc` para indicarle a la `Serie` que estamos accesándola usando los nombres de los índices:

Obten el primer y último elemento de las `serie_1` y `serie_2`

In [24]:
serie_1.loc[0]
serie_1.loc[len(serie_1)-1]

12

In [26]:
serie_2.loc[2007]
serie_2.loc[2010]

1300000

Obten el valor del 2o y 3o cuatrimestre de `serie_3`

In [30]:
serie_3.loc[["Q2-2010", "Q4-2010"]]

Q2-2010    1200000
Q4-2010    1300000
dtype: int64

In [32]:
serie_3.loc["Q2-2010":"Q3-2010"]

Q2-2010    1200000
Q3-2010    1250000
dtype: int64

¡Vayamos a nuestro primer Reto!

---
---
## Reto 1: Series

### 1. Objetivos:
    - Practicar la creación de `Series` y la indexación básica de éstas
 
---
    
### 2. Desarrollo:

In [1]:
# Realiza aquí los imports que necesites
# para que tu código funcione correctamente

#### a) Creación de `Series`

A continuación tenemos unas variables que contienen los nombres de los ejecutivos más importantes de nuestra ya conocida EyePoker Inc. Debajo de eso hay una variable que no ha sido asignada aún:

In [ ]:
ejecutivo_1 = 'Marco P.'
ejecutivo_2 = 'Jenny'
ejecutivo_3 = 'Britney Baby'
ejecutivo_4 = 'Pepe Guardabosques'
ejecutivo_5 = 'Lombardo El Destructor'

sueldos =

Tu tarea es crear una `Serie` de `pandas` y asignarla a la variable `sueldos`. La información que hay dentro de esta variable son (oh, sorpresa) los sueldos de dichos ejecutivos.

Los valores de la `Serie` serán los sueldos, mientras que el índice de la `Serie` serán los nombres de los ejecutivos.

Crea una `Serie` y asígnala a `sueldos` de manera que el código que tenemos debajo funcione correctamente:

In [33]:
print('== Sueldos de los principales ejecutivos de EyePoker Inc. ==\n')

print(f'{("Ejecutivo"):25} | {("Sueldo")}')
print('----------------------------------------')
print(f'{ejecutivo_1:25} | ${(sueldos.loc[ejecutivo_1])} MXN')
print(f'{ejecutivo_2:25} | ${(sueldos.loc[ejecutivo_2])} MXN')
print(f'{ejecutivo_3:25} | ${(sueldos.loc[ejecutivo_3])} MXN')
print(f'{ejecutivo_4:25} | ${(sueldos.loc[ejecutivo_4])} MXN')
print(f'{ejecutivo_5:25} | ${(sueldos.loc[ejecutivo_5])} MXN')

== Sueldos de los principales ejecutivos de EyePoker Inc. ==

Ejecutivo                 | Sueldo
----------------------------------------

NameError: name 'ejecutivo_1' is not defined

#### b) Indexación de `Series`

Tenemos una `Serie` que contiene los gastos mensuales totales (en MXN) de distintas divisiones de EyePoker Inc. Tú eres el Contador Oficial y tienes que obtener subconjuntos de datos que sirvan para agregar los gastos totales de diferentes combinaciones de divisiones.

Los datos son los siguientes:

In [34]:
import pandas as pd

gastos_mensuales = {
    'A': 15000,
    'B': 200000,
    'C': 3250000,
    'D': 120000,
    'E': 135000,
    'F': 55000,
    'G': 100000,
    'H': 25000
}

gastos_serie = pd.Series(gastos_mensuales)

In [35]:
gastos_serie

A      15000
B     200000
C    3250000
D     120000
E     135000
F      55000
G     100000
H      25000
dtype: int64

El índice es el nombre de la división y los valores son los gastos mensuales en MXN.

Indexando la serie `gastos_serie` extrae las combinaciones de divisiones que se indican debajo para poder hacer los cálculos necesarios.

In [37]:
# Los gastos de la división 'D' y 'G'
gastos_D_G =
sum(gatos_D_G)

# Los gastos de la división 'B', 'F' y 'H'
# gastos_B_F_H =
# sum(gatos_B_F_H)

# Los gastos desde la primera división hasta la división 'E'
# gastos_principio_a_E =
# sum(gatos_principio_a_E)

# Los gastos desde la división 'D' hasta la 'G'
# gastos_D_a_G =
# sum(gatos_D_a_G)

SyntaxError: invalid syntax (<ipython-input-37-80adfe40f5eb>, line 2)