## Reto 1: Peticiones a una API usando requests

### 1. Objetivos:
    - Usar la librería Requests para hacer una petición HTTP a una API
 
---
    
### 2. Desarrollo:

### a) Petición HTTP a API de NASA

Vamos a implementar un programa que realice una llamada HTTP a la API de NASA.

Puedes leer la documentación de la API [aquí](https://api.nasa.gov/), bajo el título de "Asteroids NeoWs".

In [1]:
import pandas as pd
import requests

Tu reto consiste en los siguientes pasos:

1. Crea una cuenta en el API de NASA para obtener tu propia API Key. Copia la API Key en la celda debajo para que no la pierdas:

In [2]:
api_key = "EtSDBzChRyQL87tRvf6vAemUDFCJujscffspj9i5"

2. Asigna la variable `url` -donde tendrás el URL base de la API de NASA- y la variable `parametros` -donde tendrás el diccionario que usarás para pasar parámetros a tu petición.

3. Usa tu diccionario `parametros` para agregar los parámetros necesarios para pedir la hoja número 100 de la API. Durante el ejemplo, pedimos simplemente la primera hoja. En esta ocasión, debes de descubrir que parámetros requieres pasarle para obtener la hoja #100. Además queremos que el número de resultados que nos regresen sea menor al default. El default es 20, pero tú tienes que mandar los parámetros adecuados para que te regresen solamente 5 resultados

In [4]:
url = 'https://api.nasa.gov/neo/rest/v1/neo/browse/'
parametros = {'api_key': api_key, "page": 100,
    "size": 5}

4. Realiza tu petición HTTP aquí debajo y checa tu código de respuesta para asegurarte de que la petición se haya hecho exitosamente:

In [8]:
resultado = requests.get(url, params=parametros)
resultado.status_code

200

5. Si todo ha salido bien, extrae tus datos, normalízalos, crea un `DataFrame` con ellos y asígnalo a `objetos`. Revisa que solamente tengas 5 filas, para saber que tu petición se realizó exitosamente:

In [10]:
datos = resultado.json()
print(datos["page"])
objetos = datos["near_earth_objects"]  # cada es una fila
# normaliza
normalizados = pd.json_normalize(objetos)  # cambia a columnas
# convierte a DataFrame
df = pd.DataFrame(normalizados)
df

{'size': 5, 'total_elements': 24156, 'total_pages': 4832, 'number': 100}

,id,neo_reference_id,name,designation,nasa_jpl_url,absolute_magnitude_h,is_potentially_hazardous_asteroid,close_approach_data,is_sentry_object,links.self,...,orbital_data.perihelion_distance,orbital_data.perihelion_argument,orbital_data.aphelion_distance,orbital_data.perihelion_time,orbital_data.mean_anomaly,orbital_data.mean_motion,orbital_data.equinox,orbital_data.orbit_class.orbit_class_type,orbital_data.orbit_class.orbit_class_description,orbital_data.orbit_class.orbit_class_range
0,3324509,3324509,(2006 DD42),2006 DD42,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3324509,23.9,False,"[{'close_approach_date': '2006-02-16', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3324509?ap...,...,1.11812095276783,171.1325688335568,2.863616590049481,2458906.914130640294,32.83601167675477,.3508650600930642,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
1,3324628,3324628,(2006 DR62),2006 DR62,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3324628,25.3,False,"[{'close_approach_date': '2006-02-16', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3324628?ap...,...,1.088803792130588,345.5752108460154,2.8520202949259,2453777.132808732007,5.475994341127521,.3563432149460518,J2000,AMO,Near-Earth asteroid orbits similar to that of ...,1.017 AU < q (perihelion) < 1.3 AU
2,3324629,3324629,(2006 DS62),2006 DS62,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3324629,26.7,False,"[{'close_approach_date': '2006-03-04', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3324629?ap...,...,.9739882910721434,38.12597339048737,3.563912124126296,2453820.301100798479,352.2710720636146,.2883809883220951,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...
3,3324657,3324657,(2006 DO63),2006 DO63,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3324657,25.8,False,"[{'close_approach_date': '2006-03-08', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3324657?ap...,...,.8650192636247781,66.310106106831,2.045831299817289,2453847.421974948200,330.293242926381,.5613312258791539,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...
4,3324685,3324685,(2006 DU63),2006 DU63,http://ssd.jpl.nasa.gov/sbdb.cgi?sstr=3324685,22.7,False,"[{'close_approach_date': '2006-03-03', 'close_...",False,http://www.neowsapp.com/rest/v1/neo/3324685?ap...,...,.7657944271779535,68.24394731565897,4.940424087659302,2453836.627672127152,351.9977801260466,.2045156136033053,J2000,APO,Near-Earth asteroid orbits which cross the Ear...,a (semi-major axis) > 1.0 AU; q (perihelion) <...