## Reto 4: Apply

### 1. Objetivos:
    - Practicar el uso del método `apply` para obtener columnas nuevas a partir de columnas existentes
    
---
    
### 2. Desarrollo:

#### a) Obteniendo columnas nuevas a partir de existentes

Vamos a trabajar con el dataset que guardaste de tu Reto anterior. Esta vez tu Reto es el siguiente:

1. Crea una función que reciba un valor (en este caso el diámetro en metros de un objeto espacial) y regrese la proporción de ese valor en comparación con el diámetro de la Tierra. El diámetro de la Tierra es de 12,742 km. Así que el diámetro de un objeto que mida 10000 metros corresponde a un valor de 0.00078 en proporción al diámetro de la Tierra.
2. Usa la columna 'estimated_diameter.meters.estimated_diameter_max', aplícale la función usando `apply` y crea una nueva columna llamada `proportion_of_max_diameter_to_earth`.
3. Asigna el resultado a la variable `df_reto_4`.
4. Guarda tu conjunto de datos en un archivo .csv.

In [2]:
import pandas as pd

In [3]:
df_reto_4 = pd.read_csv("../Ejemplo-03/objetos_cercanos_3.csv", index_col=0)
df_reto_4.head(3)

,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description,id,name,relative_velocity.kilometers_per_minute
0,2154652-154652 (2004 EP20),0,483.676488,1081.533507,1995-01-07,1995-01-07 08:33:00,Earth,16.142864,58114.308667,Near Earth asteroid orbits similar to that of ...,2154652,154652 (2004 EP20),968.571811
1,3153509-(2003 HM),1,96.506147,215.794305,1995-01-07,1995-01-07 15:09:00,Earth,12.351044,44463.757734,Near Earth asteroid orbits which cross the Ear...,3153509,(2003 HM),741.062629
2,3837644-(2019 AY3),0,46.190746,103.285648,1995-01-07,1995-01-07 21:25:00,Earth,22.478615,80923.015021,Near Earth asteroid orbits similar to that of ...,3837644,(2019 AY3),1348.716917

In [5]:
def proporcion_vs_tierra(valor):
    """ Regresa la proporción de valor con respecto a la Tierra """
    diametro_tierra = 12_742  # km
    valor = valor / 1000 # pasamos de metros -> kilómetros
    proporcion = valor / diametro_tierra
    
    return proporcion

In [7]:
df_reto_4["proportion_of_max_diameter_to_earth"] = \
    df_reto_4['estimated_diameter.meters.estimated_diameter_max'].apply(proporcion_vs_tierra)
df_reto_4["proportion_of_max_diameter_to_earth"]

0      0.000085
1      0.000017
2      0.000008
3      0.000004
4      0.000028
         ...
296    0.000085
297    0.000077
298    0.000077
299    0.000028
300    0.000074
Name: proportion_of_max_diameter_to_earth, Length: 301, dtype: float64

In [8]:
df_reto_4.to_csv("objetos_cercanos_4.csv")