## Ejemplo 4: `apply`

### 1. Objetivos:
    - Usar `apply` para aplicar funciones a `Series` y `DataFrames`
 
---
    
### 2. Desarrollo:

In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../../Datasets/new_york_times_bestsellers-dirty.csv', index_col=0)
df.head(3)

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24 00:00:00,1212883200000,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24 00:00:00,1212883200000,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24 00:00:00,1212883200000,4,0,1,22.95

Podemos aplicar funciones a nuestras `Series` con el método `apply`, así que vamos a convertir la fecha de la columna `published_date.numberLong` que está dado en milisegundos en formato Epoc o Timestamp a sólo tener el año de publicación:

In [5]:
def anio_de_publicacion(valor):
    """ obtener el año desde la fecha epoc """
    fecha = pd.to_datetime(valor, unit="ms")
    return fecha.year

In [6]:
df['published_date.numberLong'].apply(anio_de_publicacion)

0       2008
1       2008
2       2008
3       2008
5       2008
        ...
3027    2013
3028    2013
3029    2013
3030    2013
3031    2013
Name: published_date.numberLong, Length: 2266, dtype: int64

O esta otra, obtener la semanas en listas, pero en porcentaje en base al máximo:

In [9]:
# tu función aquí
def semanas_en_porcentaje(valor, maximo):
    """ Regresar el porcentaje en relación a maximo """
    porcentaje = valor / maximo * 100
    return f"{porcentaje:.0f}%"

In [10]:
df['weeks_on_list.numberInt'].apply(
    semanas_en_porcentaje,
    args= (df['weeks_on_list.numberInt'].max(),) )

0       3%
1       2%
2       1%
3       1%
5       3%
        ..
3027    2%
3028    5%
3029    2%
3030    1%
3031    7%
Name: weeks_on_list.numberInt, Length: 2266, dtype: object

Veremos cómo usar `apply` en `DataFrames` en un módulo posterior, ya que este dataset no se presta mucho para eso.