## Reto 6: Sort

### 1. Objetivos:
    - Practicar el uso de `sort_values` para obtener datos específicos
    
---
    
### 2. Desarrollo:

#### a) Reordenamiento para hallazgo de valores

Vamos a trabajar sobre el dataset que guardaste en la sesión anterior. Tu Reto consiste en lo siguiente:

1. Usa `sort_values` y `loc` para obtener el valor de la velocidad en kilómetros por segundo más lenta de todos los objetos que tenemos en el dataset y asígnalo a `velocidad_en_kilometros_por_segundo_de_objeto_mas_lento`.
2. Usa `sort_values` y `loc` para obtener el valor del diámetro más grande medido que existe en nuestro dataset y asígnalo a `medida_de_diametro_mas_grande`

In [2]:
import pandas as pd

In [3]:
df_reto_6 = pd.read_csv("../Ejemplo-04/objetos_cercanos_4.csv", index_col=0)
df_reto_6.head(3)

,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description,id,name,relative_velocity.kilometers_per_minute,proportion_of_max_diameter_to_earth
0,2154652-154652 (2004 EP20),0,483.676488,1081.533507,1995-01-07,1995-01-07 08:33:00,Earth,16.142864,58114.308667,Near Earth asteroid orbits similar to that of ...,2154652,154652 (2004 EP20),968.571811,0.000085
1,3153509-(2003 HM),1,96.506147,215.794305,1995-01-07,1995-01-07 15:09:00,Earth,12.351044,44463.757734,Near Earth asteroid orbits which cross the Ear...,3153509,(2003 HM),741.062629,0.000017
2,3837644-(2019 AY3),0,46.190746,103.285648,1995-01-07,1995-01-07 21:25:00,Earth,22.478615,80923.015021,Near Earth asteroid orbits similar to that of ...,3837644,(2019 AY3),1348.716917,0.000008

In [4]:
df_reto_6["relative_velocity.kilometers_per_second"]

0      16.142864
1      12.351044
2      22.478615
3       4.998691
4       7.465089
         ...
296    15.474761
297    16.180392
298    15.106140
299    20.343173
300    29.732426
Name: relative_velocity.kilometers_per_second, Length: 301, dtype: float64

In [31]:
df = df_reto_6.sort_values("relative_velocity.kilometers_per_second")
df.head(1)["relative_velocity.kilometers_per_second"]

282    0.681437
Name: relative_velocity.kilometers_per_second, dtype: float64

In [32]:
velocidad_en_kilometros_por_segundo_de_objeto_mas_lento = \
    df.head(1)["relative_velocity.kilometers_per_second"]
velocidad_en_kilometros_por_segundo_de_objeto_mas_lento

282    0.681437
Name: relative_velocity.kilometers_per_second, dtype: float64

In [36]:
df = df_reto_6.sort_values(
    "estimated_diameter.meters.estimated_diameter_max",
    ascending=False)
df.head(1)["estimated_diameter.meters.estimated_diameter_max"]

123    6516.883822
Name: estimated_diameter.meters.estimated_diameter_max, dtype: float64

In [37]:
medida_de_diametro_mas_grande = \
    df.head(1)["estimated_diameter.meters.estimated_diameter_max"]
medida_de_diametro_mas_grande

123    6516.883822
Name: estimated_diameter.meters.estimated_diameter_max, dtype: float64