## Ejemplo 5: Concat con DataFrames

### 1. Objetivos:
    - Usar pd.concat para concatenar `DataFrames`
 
---
    
### 2. Desarrollo:

Exactamente los mismos principios aplican a la concatenación de `DataFrames`:

In [2]:
import pandas as pd

In [3]:
data_1 = {
    'column_1': [1, 2, 3],
    'column_2': [4, 5, 6]
}

df_1 = pd.DataFrame(data_1, index=['a', 'b', 'c'])

df_1

   column_1  column_2
a         1         4
b         2         5
c         3         6

In [5]:
data_2 = {
    'column_1': [7, 8, 9],
    'column_2': [10, 11, 12]
}

df_2 = pd.DataFrame(data_1, index=['d', 'e', 'f'])

df_2

   column_1  column_2
d         7        10
e         8        11
f         9        12

Podemos unirlos verticalmente:

In [1]:
# concatenar en vertical

Horizontalmente:

In [2]:
# concatenar en horizontal

Si tienen el mismo índice, evitamos los `NaNs`:

In [8]:
data_3 = {
    'column_3': [7, 8, 9],
    'column_4': [10, 11, 12]
}

df_3 = pd.DataFrame(data_3, index=['a', 'b', 'c'])

df_3

   column_3  column_4
a         7        10
b         8        11
c         9        12

In [3]:
# concatenar en horizontal

Si concatenamos verticalmente con el mismo índice, no podemos diferenciarlos:

In [11]:
data_4 = {
    'column_1': [7, 8, 9],
    'column_2': [10, 11, 12]
}

df_4 = pd.DataFrame(data_4, index=['a', 'b', 'c'])

df_4

   column_1  column_2
a         7        10
b         8        11
c         9        12

In [4]:
# concatenar en vertical

Podemos agregar `multiíndices`:

In [5]:
# agrega multi índices para diferenciar

Y podemos accesarlos de igual manera:

In [6]:
# crea una variable
# imprime el dataframe df1

In [7]:
# imprime la fila b del dataframe df1

También podemos unir más de dos `DataFrames` agregándolos todos a la lista:

In [8]:
# concatenar los 4 dataframes en horizontal