## Ejemplo 4: Agrupando datos con `groupby`

### 1. Objetivos:
    - Aprender a usar `grouby` para segmentar nuestros conjuntos de datos y aplicar funciones agregadoras a cada segmento.
 
---
    
### 2. Desarrollo:

#### a) Segmentando datos con `groupby`

En nuestro Reto pasado construimos un nuevo conjunto de datos agregando la información de las tablas `occupations` y `age_ranges` a la tabla `users`. Vamos a leer este dataset primero:

In [1]:
import pandas as pd

In [2]:
users = pd.read_csv('../../Datasets/MovieLens/users-full.csv', index_col=0)
users

        gender  age_id age_range  occupation_id              occupation     cp
user_id
1            F       1  Under 18             10            K-12 student  48067
2            M      56       56+             16           self-employed  70072
3            M      25     25-34             15               scientist  55117
4            M      45     45-49              7    executive/managerial  02460
5            M      25     25-34             20                  writer  55455
...        ...     ...       ...            ...                     ...    ...
6036         F      25     25-34             15               scientist  32603
6037         F      45     45-49              1       academic/educator  76006
6038         F      56       56+              1       academic/educator  14706
6039         F      45     45-49              0  other or not specified  01060
6040         M      25     25-34              6      doctor/health care  11106

[6040 rows x 6 columns]

Vamos a ver qué pasa si agrupamos nuestro conjunto usando la columna `gender`:

In [12]:
# tu código

Para ver algún resultado más legible tenemos que aplicar funciones agregadoras a nuestro objeto `groupby`:

In [13]:
# contamos

`size` nos hace un conteo de cuántas muestras hay en cada grupo y regresa el total. Ahora podemos ver entonces que hay 1709 mujeres y 4331 hombres en nuestro dataset.

También podemos pedir columnas específicas de nuestros grupos y aplicar agregaciones a cada columna:

In [14]:
# contamos por otra columna

Podemos usar dos o más columnas para agrupar también. Lo que sucede es que el dataset se agrupa usando la primer columna, y luego, dentro de cada grupo se hace una segunda agrupación usando la segunda columna:

In [15]:
# agrupamos por más de una columna

Aquí hemos segmentado nuestro dataset en dos niveles. En el primer nivel, podemos obtener datasets independientes para cada género:

In [16]:
# guardamos nuestros resultados en otra variable

In [17]:
# consultamos sólo para el genero Fem!

En un segundo nivel, podemos obtener datasets por cada rango de edades en cada género:

In [18]:
# consultamos un segundo nivel

¡Genial!