## Ejemplo 1: Funciones vectorizadas

### 1. Objetivos:
    - Aprender cómo realizar opetaciones a los elementos de una Serie de forma óptima
 
---
    
### 2. Desarrollo:

Realizar algunas operaciones con Series

In [9]:
lista = [1, 2, 3, 4, 5]
[x*10 for x in lista]

[10, 20, 30, 40, 50]

In [5]:
import pandas as pd

In [6]:
serie = pd.Series([1, 2, 3, 4, 5])

Suma 10 a cada elemento

In [8]:
# tu codigo
serie_10 = serie + 10
serie_10

0    11
1    12
2    13
3    14
4    15
dtype: int64

Multiplica por 10 a cada elemento

In [10]:
serie * 10

0    10
1    20
2    30
3    40
4    50
dtype: int64

Multiplica por 10 y luego divide entre 2

In [13]:
s1 = serie * 10
s1 / 2

serie * 10 / 2

0     5.0
1    10.0
2    15.0
3    20.0
4    25.0
dtype: float64

Elevar al cubo

In [16]:
serie * serie * serie

0      1
1      8
2     27
3     64
4    125
dtype: int64

In [18]:
serie ** 3

0      1
1      8
2     27
3     64
4    125
dtype: int64

In [23]:
import numpy as np

np.power(serie, 3)

0      1
1      8
2     27
3     64
4    125
dtype: int64

Realiza la siguiente operación para cada elemento de la serie: x^2 - x + 1

In [25]:
np.power(serie, 2) - serie + 1

0     1
1     3
2     7
3    13
4    21
dtype: int64