## Ejemplo 3: Funciones vectorizadas y agregaciones con `DataFrames`

### 1. Objetivos:
    - Aprender cómo usar Funciones vectorizadas y agregaciones aplicadas a `DataFrames` completos
 
---
    
### 2. Desarrollo:

In [11]:
import pandas as pd

Tenemos el siguiente dataset:

In [12]:
datos = {
    'precio': [34, 54, 223, 78, 56, 12, 34],
    'cantidad_en_stock': [3, 6, 10, 2, 5, 45, 2],
    'productos_vendidos': [3, 45, 23, 76, 24, 6, 2]
}

df = pd.DataFrame(datos, index=["Pokemaster", "Cegatron", "Pikame Mucho", "Lazarillo de Tormes", "Stevie Wonder", "Needle", "El AyMeDuele"])

In [13]:
df

                     precio  cantidad_en_stock  productos_vendidos
Pokemaster               34                  3                   3
Cegatron                 54                  6                  45
Pikame Mucho            223                 10                  23
Lazarillo de Tormes      78                  2                  76
Stevie Wonder            56                  5                  24
Needle                   12                 45                   6
El AyMeDuele             34                  2                   2

Si aplicamos operaciones aritméticas a nuestro `DataFrame` la operación se aplicará elemento por elemento a nuestro `DataFrame` completo:

In [1]:
# mutiplica x 100

In [2]:
# suma 100 y divide entre 2

También podemos aplicar funciones vectorizadas con el mismo resultado:

In [16]:
import numpy as np

In [3]:
# eleva al cuadrado

In [4]:
# raiz cuadrada

In [5]:
# funcion seno más 100

Si usamos agregaciones, las agregaciones se hacen de manera automática por columna:

In [6]:
# suma de columnas

Aunque podemos cambiar ese comportamiento usando `axis=1` para hacerlo por fila:

In [7]:
# suma de filas

Todas las demás agregaciones funcionan también. El default (o `axis=0`) es hacerlo por columna, pero todas pueden funcionar por fila usando `axis=1`:

In [24]:
# mínimo de columnas

precio                12
cantidad_en_stock      2
productos_vendidos     2
dtype: int64

In [8]:
# mínimo por filas

In [26]:
# máximo por filas

precio                223
cantidad_en_stock      45
productos_vendidos     76
dtype: int64

In [9]:
# máximo por columnas