## Ejemplo 2: Manipulación de Strings

### 1. Objetivos:
    - Aprender a usar `replace`, `strip`, `title`, `upper`, `lower` y `split` para transformar datos tipo `string``
 
---
    
### 2. Desarrollo:

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../../Datasets/new_york_times_bestsellers-dirty.csv', index_col=0)

df.head()

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Descr: Aliens have taken control of the minds ...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,2008-05-24 00:00:00,1212883200000,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,Descr: A woman's happy marriage is shaken when...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,2008-05-24 00:00:00,1212883200000,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,Descr: A Massachusetts state investigator and ...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,2008-05-24 00:00:00,1212883200000,4,0,1,22.95
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,Descr: An aging porn queens aims to cap her ca...,Doubleday,SNUFF,5b4aa4ead3089013507db18f,2008-05-24 00:00:00,1212883200000,5,0,1,24.95
5,http://www.amazon.com/Phantom-Prey-John-Sandfo...,John Sandford,Descr: The Minneapolis detective Lucas Davenpo...,Putnam,PHANTOM PREY,5b4aa4ead3089013507db191,2008-05-24 00:00:00,1212883200000,7,4,3,26.95

Empecemos con la columna `description` que tiene un 'Descr:' al inicio de cada texto. Si queremos remover ese texto podemos usar el método `replace` de la propiedad `str` de esa `Serie`:

In [1]:
# remplazar la palabra descripción

Para que el cambio persista, tenemos que reasignarlo:

In [2]:
# guardar resultado en la columna

In [3]:
# consultar una fila para comprobar resultado

Como puedes ver, tenemos también espacios vacíos al principio y final de nuestras `strings`. Vamos a removerlos usando `strip`:

In [6]:
df['description'].str.strip()

0       Aliens have taken control of the minds and bod...
1       A woman's happy marriage is shaken when she en...
2       A Massachusetts state investigator and his tea...
3       An aging porn queens aims to cap her career by...
5       The Minneapolis detective Lucas Davenport inve...
                              ...
3027    The New York lawyer Stone Barrington discovers...
3028    Jake Fisher discovers that neither the woman h...
3029    Six friends meet in the 1970s at a summer arts...
3030    Bernie Gunther, the Berlin cop, is sent to Smo...
3031    A New Hampshire baker finds herself in the mid...
Name: description, Length: 2266, dtype: object

In [4]:
# remplazar valor de columna

In [5]:
# verificar el valor de una fila

Perfecto.

Ahora veamos la columna 'title', cuyos textos están en mayúsculas. Esto no es muy agradable, así que podemos usar algunos métodos para modificar el patrón de mayúsculas y minúsculas:

In [6]:
# titulos a minúsculas

In [7]:
# títulos como nombres

Este último es más adecuado, vamos a guardarlo:

In [8]:
# remplazar la columna

Ahora, digamos que queremos separar nuestra columna `author` en dos columnas `author_first_name` y `author_last_name`. Eso lo podemos hacer con el método `split`:

In [9]:
# separando nombre y apellido de autor

Podemos convertirlo en dos columnas así:

In [10]:
# creando nuevas columnas de la separación

In [11]:
# asignando las nuevas columnas

In [12]:
# revisando el resultado con head()

¡Éxito!