## Reto 2: Manipulación de Strings

### 1. Objetivos:
    - Practicar manipular `strings` usando métodos como `split`, `title`, `strip, etc.
 
---
    
### 2. Desarrollo:

#### Limpiando strings usando la propiedad `str`

Vamos a trabajar en la versión del dataset que guardaste en el reto pasado. Las acciones que tienes que tomar en este Reto son las siguientes:

1. Reemplaza los guiones en las `strings` de la columna `orbit_class_description` por espacios.
2. Elimina los espacios vacíos al principio y final de las `strings` de la misma columna.
3. Hay una columna llamada `id_name` que contiene el 'id' y el nombre de cada objeto separados por un guión. Separa estos datos en dos columnas llamadas `id` y `name`.
4. Haz que las `strings` de la columna `orbiting_body` empiecen con mayúscula.
5. Asigna el `DataFrame` resultante a la variable `df_reto_2`.
6. Guarda tu resultado en un archivo .csv.

In [1]:
# import
import pandas as pd

In [9]:
df_reto_2 = pd.read_csv("../Ejemplo-01/objetos_cercanos_1.csv", index_col=0)
df_reto_2.head(3)

,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description
0,2154652-154652 (2004 EP20),False,483.676488,1081.533507,1995-01-07,1995-01-07 08:33:00,earth,16.142864,58114.308667,Near-Earth-asteroid-orbits-similar-to-that-o...
1,3153509-(2003 HM),True,96.506147,215.794305,1995-01-07,1995-01-07 15:09:00,earth,12.351044,44463.757734,Near-Earth-asteroid-orbits-which-cross-the-E...
2,3837644-(2019 AY3),False,46.190746,103.285648,1995-01-07,1995-01-07 21:25:00,earth,22.478615,80923.015021,Near-Earth-asteroid-orbits-similar-to-that-o...

In [10]:
df_reto_2["orbit_class_description"]

0        Near-Earth-asteroid-orbits-similar-to-that-o...
1        Near-Earth-asteroid-orbits-which-cross-the-E...
2        Near-Earth-asteroid-orbits-similar-to-that-o...
3       Near-Earth-asteroid-orbits-similar-to-that-of...
4       An-asteroid-orbit-contained-entirely-within-t...
                             ...
296     Near-Earth-asteroid-orbits-similar-to-that-of...
297      Near-Earth-asteroid-orbits-similar-to-that-o...
298      Near-Earth-asteroid-orbits-which-cross-the-E...
299     An-asteroid-orbit-contained-entirely-within-t...
300      Near-Earth-asteroid-orbits-similar-to-that-o...
Name: orbit_class_description, Length: 301, dtype: object

In [11]:
df_reto_2["orbit_class_description"].str.replace("-", " ")

0        Near Earth asteroid orbits similar to that o...
1        Near Earth asteroid orbits which cross the E...
2        Near Earth asteroid orbits similar to that o...
3       Near Earth asteroid orbits similar to that of...
4       An asteroid orbit contained entirely within t...
                             ...
296     Near Earth asteroid orbits similar to that of...
297      Near Earth asteroid orbits similar to that o...
298      Near Earth asteroid orbits which cross the E...
299     An asteroid orbit contained entirely within t...
300      Near Earth asteroid orbits similar to that o...
Name: orbit_class_description, Length: 301, dtype: object

In [14]:
df_reto_2["orbit_class_description"] = \
    df_reto_2["orbit_class_description"].str.replace("-", " ")
df_reto_2["orbit_class_description"].loc[0]

'  Near Earth asteroid orbits similar to that of 2062 Aten  '

In [16]:
df_reto_2["orbit_class_description"] = \
    df_reto_2["orbit_class_description"].str.strip()
df_reto_2["orbit_class_description"].loc[0]

'Near Earth asteroid orbits similar to that of 2062 Aten'

In [20]:
df_reto_2[ ["id","name"] ] = df_reto_2["id_name"].str.split("-", expand=True)
df_reto_2.head(3)

,id_name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour,orbit_class_description,id,name
0,2154652-154652 (2004 EP20),False,483.676488,1081.533507,1995-01-07,1995-01-07 08:33:00,earth,16.142864,58114.308667,Near Earth asteroid orbits similar to that of ...,2154652,154652 (2004 EP20)
1,3153509-(2003 HM),True,96.506147,215.794305,1995-01-07,1995-01-07 15:09:00,earth,12.351044,44463.757734,Near Earth asteroid orbits which cross the Ear...,3153509,(2003 HM)
2,3837644-(2019 AY3),False,46.190746,103.285648,1995-01-07,1995-01-07 21:25:00,earth,22.478615,80923.015021,Near Earth asteroid orbits similar to that of ...,3837644,(2019 AY3)

In [23]:
df_reto_2["orbiting_body"].unique()

array(['earth'], dtype=object)

In [25]:
df_reto_2["orbiting_body"] = df_reto_2["orbiting_body"].str.title()
df_reto_2["orbiting_body"]

0      Earth
1      Earth
2      Earth
3      Earth
4      Earth
       ...
296    Earth
297    Earth
298    Earth
299    Earth
300    Earth
Name: orbiting_body, Length: 301, dtype: object

In [26]:
df_reto_2.to_csv("objetos_cercanos_2.csv")

¡Compara con tus compañeros y con la experta tu solución para asegurarte de que realizaste los procesos adecuadamente!