## Ejemplo 4: Concat con Series

### 1. Objetivos:
    - Usar pd.concat para concatenar `Series`
 
---
    
### 2. Desarrollo:

Muchas veces vamos a tener `Series` o `DataFrames` que queremos unir en una sola estructura. Para eso podemos usar `pd.concat`. Concatenando `Series`, podemos hacer lo siguiente:

In [1]:
import pandas as pd

In [2]:
serie_1 = pd.Series([1, 2, 3], index=['a', 'b', 'c'])
serie_2 = pd.Series([4, 5, 6], index=['d', 'f', 'e'])

In [4]:
# concatena la serie 1 y 2 en vertical
pd.concat([serie_1, serie_2], axis=0)

a    1
b    2
c    3
d    4
f    5
e    6
dtype: int64

También podemos concatenar horizontalmente:

In [5]:
# concatena en horizontal
pd.concat([serie_1, serie_2], axis=1)

     0    1
a  1.0  NaN
b  2.0  NaN
c  3.0  NaN
d  NaN  4.0
f  NaN  5.0
e  NaN  6.0

Podemos nombrar nuestras columnas para saber cuál era cuál:

In [7]:
# concatenar en horizontal con nombres a las columnas
pd.concat([serie_1, serie_2], axis=1, keys=["serie_1", "serie_2"])

   serie_1  serie_2
a      1.0      NaN
b      2.0      NaN
c      3.0      NaN
d      NaN      4.0
f      NaN      5.0
e      NaN      6.0

Esto pasa si concatenamos horizontalmente usando el mismo índice:

In [9]:
serie_3 = pd.Series([7, 8, 9], index=['a', 'b', 'c'])

# concatena en horizontal la serie 1 y 3
pd.concat([serie_1, serie_3], axis=1, keys=["s_1", "s_3"])

   s_1  s_3
a    1    7
b    2    8
c    3    9

Si concatenamos verticalmente dos `Series` que comparten el índice, tenemos el problema de no poder diferenciar los índices:

In [12]:
# concatena en vertical las series 1 y 3, hay problemas?
pd.concat([serie_1, serie_3], axis=0)

a    1
b    2
c    3
a    7
b    8
c    9
dtype: int64

A veces queremos esto, pero cuando no, podemos agregar un segundo nivel de índice para hacer la diferencia:

In [13]:
# podemos hacer más de un índice
pd.concat([serie_1, serie_3], axis=0, keys=["s_1", "s_3"])

s_1  a    1
     b    2
     c    3
s_3  a    7
     b    8
     c    9
dtype: int64

Esto se llama un `Multiíndice`. Podemos acceder a un `multiíndice` en un solo nivel o en ambos:

In [16]:
# asignamos el resultado a una variable
serie = pd.concat([serie_1, serie_3], axis=0,
    keys=["s_1", "s_3"])
serie

s_1  a    1
     b    2
     c    3
s_3  a    7
     b    8
     c    9
dtype: int64

In [17]:
# acedemos a los valores de la serie_1
serie.loc["s_1"]

a    1
b    2
c    3
dtype: int64

In [18]:
# o a ún elemento de la serie_1
serie.loc["s_3", "b"]

8